<!doctype html>
<html lang="en">
  <head>
    <title>GA Movie Finder</title>
    <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'></link>
    <link rel="stylesheet" href="/style.css"></link>
  </head>
  <body>
    <h1 src="/057.jpg">GA Movie Finder</h1>
    <%= yield %>
  </body>
</html>