html, body { height: 100%;}
#wrapper {
  display: block;
  position: absolute;
  width: 100%;
}

body {
  background: url('reel.jpg') center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Helvetica;
  color: white;
}

/*----------------------------------------------*/
/* Logo and header */
/*----------------------------------------------*/
#logo {
  position: relative;
  display: inline-block;
  width: 5em;
  line-height: 1em;
  margin: 1em;
}

.reel {
  width: 1.5em;
  height: 1.5em;
  border-radius: .8em;
}

#box {
  width: 3.4em;
  height: 2em;
  border-radius: .3em;
}

#lens {
  margin: .5em 0;
  width: 1em;
  height: 1em;
  border-radius: .3em;
}

.reel,
#box,
#lens {
  postion: relative;
  display: inline-block;
  box-shadow: rgba(230, 189, 174, .5) -.3em .3em;
  background-color: rgba(178, 115, 92, .8);
}

h1 {
  display: inline-block;
  font-family: 'Monoton', cursive;
  text-shadow: black .1em .1em;
}

/*---------------------------------------------------*/
/* layout of search and json data returned from OMDB */
/*---------------------------------------------------*/
header, #main {
  position: relative;
  width: 100%;
  min-height: 10.5rem;
}

#main {
  display: block;
  width: 100%;
}

form {
  padding: 1em;
}

form .search {
  line-height: 2em;
  font-size: 1em;
  width: 70%;
}

.movieInfo,
aside {
  position: relative;
  vertical-align: top;
  display: inline-block;
  min-height: 21.25rem;
  min-width: 22.5rem;
  padding: 0 1em;
}

.movieInfo {
  width: 60%;
  background-color: rgba(84, 54, 44, .5);
}

.movieInfo .label {
  display: inline-block;
  font-weight: 700;
  width: 10%;
  text-align: right;
  padding-right: 1em;
  vertical-align: top;
}

.movieInfo .data {
  display: inline-block;
  font-weight: 200;
  text-align: justify;
  letter-spacing: 0.1em;
  width: 80%;
}

aside {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

aside img {
  min-height: 21.25rem;
}

