<div class="search_index">
  <!-- receive file of search movie titles -->
  <!-- loop through the file and find each title and render it on the page as a link -->
  <h2>Movie Search History</h2>
  <p class="searchList">Search history has been cleared</p>
  <a class="button clear" href="/clear_history">Clear Search History</a>
</div>