<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Movie Finder</title>
    <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'></link>
    <link rel="stylesheet" href="/style.css"></link>
    <link rel="stylesheet" href="/css3-github-buttons/gh-buttons.css"></link>
  </head>
  <body>
    <!-- ubiquitous page header -->
    <header>
      <div id="logo">
        <div class="reel"></div>
        <div class="reel"></div>
        <div id="box"></div>
        <div id="lens"></div>
      </div>
      <h1>Movie Finder</h1>
    </header>

    <!-- display a link to the search history from the search page -->
    <nav class="menu">
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/index">Search History</a></li>
        <li><a href="/movie">Home</a></li>
      </ul>
    </nav>

    <div class="form">
      <%= yield %>
    </div>
  </body>
</html>